@use "../../../sass/abstracts/mixins";
@use "../../../sass/abstracts/vars";

.heading {
  margin: 0;
  padding: 0;
  //font-family: Arial;
  &--1 {
    font-size: 2rem;
    font-family: vars.$font__fat;
  }
  &--2 {
    font-size: 2rem;
  }
  &--3 {
    font-size: 1rem;
    font-family: vars.$font__condensed;
    text-transform: uppercase;
    color: vars.$color__brand;
    font-weight: bold;
  }
  @include mixins.generateMargins();
}
